/* Reset CSS  */
* { margin:0; padding:0; border:0; outline:0; vertical-align:top;
-webkit-text-size-adjust:none;  }

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
@font-face{font-family: 'looks_happy'; src: url("../font/Looks\ Happy\ Outline.ttf") format('truetype')}
@font-face{font-family: 'looks_happy_fill'; src: url('../font/Looks\ Happy\ Fill.ttf') format('truetype')}

html,body {font-family:'Roboto', sans-serif; font-size:18px; color:#333;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display:block; }
ul, ol, dl { list-style:none; }
img, video {border:0; vertical-align:top; }
a, a:link {color:#333;text-decoration:none; }
a:visited { color:#333; }
a:hover, a:active {color:#333;text-decoration:none; }
table { border-collapse:collapse; border-spacing:0; }
input, select { vertical-align:middle; }
label { cursor:pointer; }
.blind,legend,hr,caption { display:block; overflow:hidden; position:absolute; top:0; left:-1000em; }
i,em,address { font-style:normal; font-weight:normal; }
p,li,dd{ line-height:1.5em}
.hidden, #skipNav{display: block; position: absolute; left:-1000%; top:0; width: 1px; height: 1px;
    overflow: hidden; color: #fff;}
.more{display: block; width: 130px; padding: 8px; border: 1px solid #333; border-radius: 30px; margin: 5% 0 7%;
    position: relative; left: 50%; margin-left: -74px; text-align: center; font-size: 16px;}

/* 헤더 공통 영역 */
#wrap{width:100%; overflow: hidden}
#headerArea{position:fixed; z-index: 30; height: 80px; left:0; top: 0; width: 100%}	
#headerArea	.headerInner{width: 90%; margin: 0 5%; overflow: hidden}
#headerArea h1{ float: left; margin-top: 16px}
#headerArea h1 a{text-decoration: none; display: block; background: url(../images/headerlogo.png) no-repeat; background-size: cover; text-indent: -999%; width: 277px; height: 46px}	

#headerArea .menuTrigger{display: none; position: relative; z-index: 10}
#headerArea .menuTrigger img{width: 62px; height: 55px; float: right; margin-top: 15px; animation: rotate_image 10s linear infinite}

#headerArea #gnb{float: right;margin-top: 32px}
#headerArea #gnb ul::after{display: block; clear: both;}
#headerArea #gnb ul li{float: left; margin-right: 20px;}
#headerArea #gnb ul li:nth-child(4){margin-right: 0;}
#headerArea #gnb ul li a{text-decoration: none; font-family: 'looks_happy'; font-size: 1.5rem;}

/* 비디오 영역 */
.videoBox{width:100%; height:100%; overflow:hidden; position:absolute}
#videoBG {
    position:fixed; /*고정=>fixed/ 스크롤처리=>absolute */
    left:50%;
    top:50%; /*오른쪽, 아래에 여백을 두지않고 꽉차게 표시*/
    width:auto;
    min-width:100%; /*동영상 너비를 꽉차게*/
    height:auto;
    min-height:100%; /*동영상 높이를 꽉차게*/
    transform:translateX(-50%) translateY(-50%);
    z-index:-100; /*다른요소보다 아래에 위치*/  
 }

#imgBG{
	position:fixed; /*고정=>fixed/ 스크롤처리=>absolute */
   left:50%;
   top:50%; /*오른쪽, 아래에 여백을 두지않고 꽉차게 표시*/
   width:auto;
   min-width:100%; /*동영상 너비를 꽉차게*/
   height:auto;
   min-height:100%; /*동영상 높이를 꽉차게*/
  transform:translateX(-50%) translateY(-50%);
   z-index:-100;
   display:none
}

/* 스크롤 다운 */
.down{display: block; position: absolute; left:50%; margin-left: -52.5px; bottom: 5%;
	width: 85px; background-size: contain; background-repeat: no-repeat;}
.down img{width: 100%; display: block; animation:ani 1s infinite alternate}

@keyframes ani {
	0% { transform: rotate(0);}
	100% { transform:rotate(20deg);}
}

/* 푸터 공통 영역 */
#footerArea{background: #000; color:#fff; text-align: center; padding: 20px 0; position: relative;}
#footerArea a{display:block; margin-bottom: 20px;}

#footerArea .topMove{display:block; position: absolute; right: 50px; bottom:0}
#footerArea span{font-family: 'looks_happy'; color: #fff; font-size: 1.5em; position: absolute; bottom:20px; left: 88px;}
#footerArea .topMove img{width: 100%;}

/* 일반 pc */
@media screen and (max-width:1280px) {
	
}

/* 테블릿 */
@media screen and (max-width:1024px) {
    #headerArea h1{margin-top: 22px}
    #headerArea h1 a{background: url(../images/headerlogo2.png) no-repeat; width: 209px; height: 39px}
    #headerArea #gnb ul li a{text-decoration: none; font-family: 'looks_happy_fill'; font-size: 1em}
    #footerArea .topMove{width:180px; height: 300px}
    #footerArea span{font-size: 1.2em; bottom: 30px; left: 75px}
}

/* 소형 테블릿 */
@media screen and (max-width:768px) {
    #headerArea .menuTrigger, .close{display: block}
    #headerArea #gnb{width: 80%; position: absolute; top:0; right:0; background: rgba(0,0,0,.8); display: none;}
    #headerArea #gnb a{font-family: 'looks_happy'; color:#fff; font-size: 4rem}
    #headerArea #gnb { position:fixed; top: 0; left: -100%; background: rgba(0,0,0,.8); width: 100%; height: 100%; margin: 0; } 
    #headerArea #gnb ul { display: block; position: absolute; top: 50%; left: 50%; transform: translateX(-50%) translateY(-50%); } 
    #headerArea #gnb ul li { margin: 20px 0; padding: 20px 0;  float: none;} 
    #headerArea #gnb ul li a { font-size: 2em; }
}

/* 모바일 */
@media screen and (max-width:640px) {
    #footerArea .topMove{width: 150px; height: 240px}
    #footerArea span{left: 58px}
}

/* 최소 사이즈 처리 */
@media screen and (max-width:480px) {
	#wrap { min-width:320px; }
}

/* 서브 메인비주얼 타이틀 효과 */
:root {  
    --purple: rgb(255, 255, 255);
    --violet: rgb(138, 195, 225);
    --pink: rgb(0, 0, 0);}
  
  @keyframes background-pan {
    from {background-position: 0% center;}
    to {background-position: -200% center;}}
  
  @keyframes scale {from, to {transform: scale(0);}
                    50% {transform: scale(1);}}
  
  @keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(180deg);}}
  
  h2 > .magic {
    display: inline-block;
    position: relative;
  }
  
  h2 > .magic > .magic-star {
    --size: clamp(20px, 1.5vw, 30px);
    
    animation: scale 700ms ease forwards;
    display: block;
    height: var(--size);
    left: var(--star-left);
    position: absolute;
    top: var(--star-top);
    width: var(--size);
  }
  
  h2 > .magic > .magic-star > svg {
    animation: rotate 1000ms linear infinite;
    display: block;
    opacity: 0.7;
  }
  
  h2 > .magic > .magic-star > svg > path {
    fill: var(--violet);
  }
  
  h2 > .magic > .magic-text {
    animation: background-pan 3s linear infinite;
    background: linear-gradient(
      to right,
      var(--purple),
      var(--violet),
      var(--pink),
      var(--purple)
    );
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
  }