/* 나눔경영 내용 영역 */

/* 공통 */
#content h3{font-family: 'Noto Sans KR', sans-serif; font-weight:700; 
    font-size: 25px; color:#333; letter-spacing: -.5px;}
#content .content_area p{font-family: 'Noto Sans KR', sans-serif; font-weight:400; text-align: justify;
    font-size: 18px; color:#333; letter-spacing: -.5px;
    line-height: 2em; margin-top: 30px;}

/* 나눔경영 */
.main1 ul{margin: 80px auto 0; width: 800px; }
.main1 ul li{font-family: 'Noto Sans KR', sans-serif; font-weight:400; text-align: justify;
    font-size: 1.2em; color:#fff; letter-spacing: -.5px;
    line-height: 2em; text-align: center; padding: 20px 0;
    background: #0c4da2; border-radius: 40px;}
.main1 ul li span{font-family: 'Noto Sans KR', sans-serif; font-weight:400; 
    font-size: 1em; color:#666;}
.main1 .ul_in{margin-top: 40px; position: relative;}
.main1 .ul_in::after{content: ''; display: block; clear: both;}
.main1 .ul_in li{float:left; width: 30%; margin-left: 5%; background: #f8f8f8;
                color:#0c4da2;}
/* .main1 .ul_in li::before{content: ''; display: block; width: 4px; height: 40px;
            background: #0c4da2; position: absolute; bottom: 78px;
            left: 120px;} */
.main1 .ul_in li:nth-child(1){margin-left: 0;}

/* 주요 프로그램 */
.main2 h3{margin-top: 80px;}
.main2 .tab_menu{overflow: hidden; border-top: 1px dashed #ccc; border-bottom: 1px dashed #ccc;
                margin: 40px 0;}
.main2 .tab_menu li{font-family: 'Noto Sans KR', sans-serif; font-weight:500; text-align: justify;
    font-size: 1em; float: left; margin: 20px 0; width: 14.1%;}
.main2 .tab_menu li a{color:#0c4da2; text-align: center;}
.main2 .tab_menu li a:hover{color: #333;}

/* 대표사업 */
.main3 h3{margin: 80px 0 50px;}
.main3 dl{overflow: hidden; position: relative; padding: 50px 0;}
.main3 dt{font-family: 'Noto Sans KR', sans-serif; font-weight:500; 
    font-size: 1.2em; color:#333; letter-spacing: -.5px; float: left; }
.main3 dt::before{content: ''; display: block; width: 1200px; height: 1px;
    background: #ccc; position: absolute; top: 0; left: 0;}
.main3 dl span{color:#0c4da2; font-weight: 700; margin-right: 20px;}
.main3 dd{font-family: 'Noto Sans KR', sans-serif; font-weight:400; text-align: justify;
    font-size: 1em; color:#333; letter-spacing: -.5px;
    line-height: 2em; width:750px; float: right;}