/* 준법경영 내용 영역 */

/* 공통 */


/* main1 */
#content .main1 .title_box{position: relative; margin-top: 10px; margin-left: 100px;}
#content .main1 .title_box p{font-family: 'Noto Sans KR', sans-serif; font-weight:500; 
    font-size: 30px; color:#333; margin-left: 50px; line-height: 1.8em;}
#content .main1 .title_box p:nth-child(2){margin-left: 300px;}
#content .main1 .title_box i{font-size: 30px;}
#content .main1 .title_box .left{position: absolute; top:-20px; left: -10px;}
#content .main1 .title_box .right{position: absolute; bottom:-10px; left: 770px;}
#content .main1 .text_box{margin:80px 80px 0 350px;}
#content .main1 .text_box p{font-family: 'Noto Sans KR', sans-serif; font-weight:400; 
    font-size: 16px; color:#666; text-align: justify; line-height: 1.4em;
    letter-spacing: .05em;}

#content .main1 .image_box{margin-top: 80px; position: relative;}
#content .main1 .image_box ul{position: absolute; top:50px; right: 0;}
#content .main1 .image_box li{font-family: 'Noto Sans KR', sans-serif; font-weight:300; 
    font-size: 16px; color:#fff; padding: 30px 80px 0 30px;}
#content .main1 .image_box li span{font-family: 'Noto Sans KR', sans-serif; font-weight:300; 
    font-size: 20px; color:#fff;}

/* main2 */
#content .main2 h3{font-family: 'Noto Sans KR', sans-serif; font-weight:700; 
    font-size: 25px; color:#333; margin-top: 80px;}
#content .main2 .title_box p{font-family: 'Noto Sans KR', sans-serif; font-weight:400; 
    font-size: 18px; color:#333; text-align: justify; margin-top: 50px;}
#content .main2 .text_box{position: relative;}
#content .main2 .text_box ul{overflow: hidden; margin-top: 50px;}
#content .main2 .text_box li{width:300px; height: 300px; float: left; box-sizing: border-box;
    border: 5px solid #0c4da2; border-radius: 50%; margin:0 50px; position: relative;}
#content .main2 .text_box dl{position: absolute; top:85px; padding: 0 30px;}
#content .main2 .text_box dt{font-family: 'Noto Sans KR', sans-serif; font-weight:500; 
    font-size: 18px; color:#333; text-align: center;}
#content .main2 .text_box dd{font-family: 'Noto Sans KR', sans-serif; font-weight:400; 
    font-size: 16px; color:#333; margin-top: 10px; text-align: center;}
#content .main2 .text_box i{font-size: 48px; color:#0c4da2; position: absolute;
    top:130px; left: 390px;}
#content .main2 .text_box i:nth-child(2){font-size: 40px; color:#0c4da2; position: absolute;
        top:130px; left: 790px;}
    
/* main3 */
#content .main3 h3{font-family: 'Noto Sans KR', sans-serif; font-weight:700; 
    font-size: 25px; color:#333; margin-top: 80px;}
#content .main3 .tab_menu ul{width: 1200px; overflow: hidden; margin-top: 50px; box-sizing: border-box;}
#content .main3 .tab_menu li{float: left; width:150px; box-sizing: border-box; text-align: center;
                          transition: all .5s ease; border: 1px solid #ccc; border-radius: 30px;
                          margin: 0 45px; background-color: #f8f8f8;
                          transition: all .5s ease;}
#content .main3 .tab_menu li a{font-family: 'Noto Sans KR', sans-serif; font-weight:400;
                        font-size: 1em; color:#666; display: block; padding: 15px;}
#content .main3 .tab_menu li:hover{border:2px solid #0c4da2;}
#content .main3 .tab_menu li a.current{color:#fff; background: #0c4da2; border-radius: 30px;
                                        border: #0c4da2;}