body {background: #f8f8f8;}
header h1{
    position: absolute;
    top: 40px;
    left: 50%;
    margin-left: -50px;}

#content{
    width: 620px; 
    height: 720px;
    position: absolute;
    top: 150px;
    left: 50%;
    margin-left: -310px;
    background: #fff;
    box-shadow:2px 2px 20px 1px rgba(0,0,0,.1);}

#content h2{
    font-family: 'Roboto', sans-serif;
    font-size: 2.2em;
    font-weight: 700;
    color: #333;
    text-align: center;
    margin-top: 80px;}

#content p{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1em;
    font-weight: 400;
    color: #666;
    text-align: center;
    margin-top: 5px;}

#content input, .mem a{
    width: 500px;
    height: 60px;
    position: absolute;
    top: 200px;
    left: 50%;
    margin-left: -260px;
    border: 1px solid #ccc;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1em;
    font-weight: 300;
    color: #999;
    padding-left: 15px;}

#content #pass{
    top: 270px;}

#content #sub{
    top: 350px;
    width: 519px;
    background: #0c4da2;
    color: #fff;
    padding-left: 0;}

#content .find a{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1em;
    font-weight: 400;
    color: #666;
    position: absolute;
    top: 430px;
    left: 210px;}

#content .find a:nth-of-type(2){
    left: 330px;}

#content .find a:nth-of-type(2)::before{
    content: '';
    display: block;
    width: 1px;
    height: 15px;
    background: #ccc;
    position: absolute;
    top: 5px;
    left: -23px;}

#content .mem span{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1em;
    font-weight: 400;
    color: #666;
    position: absolute;
    top: 530px;
    left: 230px;}

#content .mem a{
    width :519px;
    top: 570px;
    text-align: center;
    padding-left: 0;
    line-height: 60px;
    color: #666;
    transition: all .3s ease;
    font-weight: 400;}

#content .mem:hover a{
    border: 1px solid #0c4da2;
    background: #f8f8f8;
    color: #0c4da2;}
    