body{background: #f8f8f8;}

h1{    
    position: absolute;
    top: 40px;
    left: 50%;
    margin-left: -50px;
    margin-bottom: 50px;}

#content{
    position: relative;
    width: 900px;
    margin: 170px auto 170px;
    padding: 50px 100px 180px;
    box-sizing: border-box;
    background: #fff;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.05);}

.title{
    position: relative;
    width: 100%;
    padding: 70px 80px;
    box-sizing: border-box;
    background: #fff;}

h2{
    font-family: 'Roboto', sans-serif;
    font-size: 2.5em;
    font-weight: 700;
    color: #333;
    text-align: center;
    letter-spacing: .01em;}

p{
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: 500;
    color: #666;
    text-align: center;
    margin-top: 10px;}

p::before{
    content: '*';
    font-size: 1.1em;
    font-weight: 700;
    color: #0c4da2;
    position: relative;
    top: 0;
    left: -1px;} 

ul{
    margin-bottom: 80px;}

li{
    margin-bottom: 20px;}

label, span{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.1em;
    font-weight: 500;
    display: block;
    margin-bottom: 20px;}

label::after, span::after{
    content: '*';
    color: #0c4da2;
    position: relative;
    top: 0;
    left: 3px;}

input{
    border: 1px solid #ccc;
    padding: 20px;
    width: 700px;
    box-sizing: border-box;}

#hp1, #hp2, #hp3{
    width: 221px;}

#hp1{
    padding: 20px;}

#mail1, #mail2{
    width: 336px;}

.btn{
    margin-left: 150px;}

.btn input{
    width: 200px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1em;
    font-weight: 400;
    color: #fff;
    border: none;
    padding: 15px;}

.btn input:nth-child(1){
    background: #0c4da2;}

.btn input:nth-child(2){
    background: #ccc;}

